@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

$pageColor: rgb(243, 243, 243) !important;

body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#app,
#app > div {
  height: 100%;
  background-color: $pageColor;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: $pageColor;
}
.navbar {
  margin-bottom: 30px;
  margin-left: -17px;
}

.vidly-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin-top: 10px;
}

.nav-link {
  font-size: 22px;
  font-weight: 570;
  margin-right: 45px;
  margin-left: -25px;
  color: black;
}

.nav-link:hover {
  color: brown;
}

#nav-username {
  pointer-events: none;
  color: green;
  font-size: 15px;
  margin-top: 5px;
  text-decoration-line: underline;
}

.clickable {
  cursor: pointer;
}

.list-group-item.active,
.page-link.active {
  background-color: brown !important;
  border-color: brown !important;
}

.page-link {
  border-color: brown !important;
  background-color: $pageColor;
}

.list-group {
  font-weight: 550;
}

.list-group-item {
  border-color: brown !important;
  background-color: $pageColor;
}

.table-header {
  color: brown;
}

.list-group {
  margin-top: 19px;
}

.movies-h1 {
  font-size: 15px;
}

.mdmovie {
  font-size: 100%;
  position: fixed;
  margin-top: 5px;
  padding-left: 3px;
  color: brown;
}

form {
  width: 30%;
}

.fa.fa-heart {
  color: brown;
}

.form-control.my-3 {
  width: 90%;
}

#row {
  width: 210%;
  margin-left: -7px;
}

#col-2 > * {
  margin-top: 0px;
  width: 97%;
}

#col {
  margin-left: -20px;
  margin-bottom: 0px;
}

#col > .btn.btn-primary {
  margin-top: 16px;
  background-color: brown;
  border-color: brown;
}

.col {
  margin-left: 30px;
}
